# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Michael Love
    email = mlove@columnit.com
[alias]
    undo = reset --soft HEAD^
    unstage = reset HEAD --
     g = !git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    root = rev-parse --show-toplevel
    details = log -n1 -p --format=fuller
    tags = tag -l
    discard = checkout -- 
[status]
    showUntrackedFiles = all
[color]
    ui = true
[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green

[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold

[color "status"]
        added = yellow
        changed = green
        untracked = red
[push]
    followTags = True

[merge]
	ff = false
